*{
    margin:0;
    padding:0;
}

.profile-navbar{
    width: 100%;
    height: 90vh;
    background-color: rgba(0, 255, 255, 0.397);
}

.navbar-image{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:50px;
}

.portfolio-image{
    width: 200px;
    height:200px;
    background-color: blue;
    border-radius: 50%;
    background-image: url("profile\ image2.png");
    background-size: cover;
    margin-left: 10%;   
}

.para{
    background-color:rgba(255, 255, 255, 0.39)
}

.para p{
    font-size: 4.5rem;
    font-style:italic;
    font-family: Arial, Helvetica, sans-serif;
    color:rgba(0, 0, 0, 0.692);
}

.logo{
    background-image: url("logo.png");
    width:100px;
    height: 100px;
    background-size: cover;
    margin-right: 100vh;


}




.navbar{
    background-color: rgba(0, 0, 0, 0.116);
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.logo{
    margin-left: 50px;
}


.links{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
 .links a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.651);
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
 }

   /** SKILLS SECTION **/

 .skill{
      padding-top: 2vh;
      
 }

 .skill h1{
    background-color: #207e9669;
    font-size: 5rem;
    display:flex;
    align-items: center;
    justify-content: center;
 }

 .skill h4{
    font-size: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-weight: 500;
 }

  .skills{
    padding-top: 2vh;
    background-color: rgba(165, 42, 42, 0.37);
    height: 50vh;
  }
  
    .skills h1{
    font-size: 5rem;
    background-color: rgba(226, 43, 67, 0.397);
    font-family: (Cambria, Cochin, Georgia, Times, 'Times New Roman', serif) ;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .skills h4{
    font-size: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
 }

.javascript{
    background-color: rgba(218, 200, 47, 0.747);
    padding-top: 2vh;
    height: 50vh;
}

.javascript h1{
    font-size: 5rem;
    background-color: rgba(218, 201, 47, 0.911);
    display: flex;
    align-items: center;
    justify-content: center;
}

.javascript h4{
    font-size: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;

}
 