*{
    margin:0;
    padding:0;
}

.profile-navbar{
    width: 100%;
    height: 90vh;
    background-color: rgba(0, 255, 255, 0.397);
}

.navbar-image{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:50px;
}

.portfolio-image{
    width: 200px;
    height:200px;
    background-color: blue;
    border-radius: 50%;
    background-image: url("profile\ image2.png");
    background-size: cover;
    margin-left: 10%;   
}

.para{
    background-color:rgba(255, 255, 255, 0.39)
}

.para p{
    font-size: 4.5rem;
    font-style:italic;
    font-family: Arial, Helvetica, sans-serif;
    color:rgba(0, 0, 0, 0.692);
}

.logo{
    background-image: url("logo.png");
    width:100px;
    height: 100px;
    background-size: cover;
    margin-right: 100vh;


}




.navbar{
    background-color: rgba(0, 0, 0, 0.116);
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.logo{
    margin-left: 50px;
}


.links{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
 .links a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.651);
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
 }

   /** SKILLS SECTION **/

 .skill{
      padding-top: 2vh;
      
 }

 .skill h1{
    background-color: #207e9669;
    font-size: 5rem;
    display:flex;
    align-items: center;
    justify-content: center;
 }

 .skill h4{
    font-size: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-weight: 500;
 }

  .skills{
    padding-top: 2vh;
    background-color: rgba(165, 42, 42, 0.37);
    height: 50vh;
  }
  
    .skills h1{
    font-size: 5rem;
    background-color: rgba(226, 43, 67, 0.397);
    font-family: (Cambria, Cochin, Georgia, Times, 'Times New Roman', serif) ;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .skills h4{
    font-size: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
 }

.javascript{
    background-color: rgba(218, 200, 47, 0.747);
    padding-top: 2vh;
    height: 50vh;
}

.javascript h1{
    font-size: 5rem;
    background-color: rgba(218, 201, 47, 0.911);
    display: flex;
    align-items: center;
    justify-content: center;
}

.javascript h4{
    font-size: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;

}


   /**projects**/

   .project{
    background-color: rgba(0, 162, 255, 0.521);
    width:100%;
    height:80%;
   }
  
   .project h1{
    font-size: 5rem;
    background-color: rgba(0, 162, 255, 0.829);
    display: flex;
    align-items: center;
    justify-content: center;
   }

   .project h4{
     font-size: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;

   }  

   .project-photo{
    background-color: rgba(137, 43, 226, 0.144);
    width: 100%;
    height: 75vh;
    gap:2px;
   }

   .project-photo h1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgba(255, 255, 255, 0.521);
    font-size: 4rem;
     background-color: rgba(255, 68, 0, 0.596);
   }

   .project-photo img{
    width:50vh;
    height: 50vh; 
    padding-inline: 2vh;
   }

   .project-photo h2{
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    padding-bottom:5px;
    background-color: rgba(206, 125, 18, 0.486);
   }
   .to-do-list{
    width: 100%;
    height: 75vh;
    background-color: rgba(127, 255, 212, 0.493);
    padding-top: 2vh;
   }

   .to-do-list img{
    width:60%;
    height: 50vh;
    padding-top: 10vh;
    padding-left: 45vh; 
   }

   .to-do-list h1,h2{
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(172, 255, 47, 0.692);
   }

   .amazon{
    width: 100%;
    height: 50vh;
    background-color: rgba(127, 255, 212, 0.466);
   }

   .amazon h1{
    font-size: 2rem;
    background-color: rgba(179, 106, 10, 0.438);
    display: flex;
    align-items: center;
    justify-content: center;
   }

   .amazon img{
    width: 40%;
    height: 40vh; 
    padding-left: 50px;
    padding-top: 10px;
    
   }